<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>SpecialistLoginChecker</servlet-name>
        <servlet-class>controller.SpecialistLoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginChecker</servlet-name>
        <servlet-class>controller.UserLoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginChecker</servlet-name>
        <servlet-class>controller.AdminLoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistrationChecker</servlet-name>
        <servlet-class>controller.UserRegistrationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecialistRegistrationChecker</servlet-name>
        <servlet-class>controller.SpecialistRegistrationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserToSpecialistProfileChecker</servlet-name>
        <servlet-class>controller.UserToSpecialistProfileChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdationChecker</servlet-name>
        <servlet-class>controller.UserUpdationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecialistUpdationChecker</servlet-name>
        <servlet-class>controller.SpecialistUpdationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userToSpecialistProfile</servlet-name>
        <servlet-class>.userToSpecialistProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpecialistLoginChecker</servlet-name>
        <url-pattern>/SpecialistLoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginChecker</servlet-name>
        <url-pattern>/UserLoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginChecker</servlet-name>
        <url-pattern>/AdminLoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistrationChecker</servlet-name>
        <url-pattern>/UserRegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecialistRegistrationChecker</servlet-name>
        <url-pattern>/SpecialistRegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdationChecker</servlet-name>
        <url-pattern>/UserUpdationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecialistUpdationChecker</servlet-name>
        <url-pattern>/SpecialistUpdationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserToSpecialistProfileChecker</servlet-name>
        <url-pattern>/UserToSpecialistProfileChecker</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
